## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/repositories.config

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm
*.rsuser
*.tmp_proj
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

## Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## Runtime
server_settings.json
